<div class="row">
    <div class="col-8">
        <img src=" <%= asset_path ('Thumbnails.jpg') %>" style="width: 100%; height: auto; border-radius: 13px" alt="thumbnail"/>
        <div class="row">
            <div class="col-12 mt-3 video-watch-title">
                Como Reinventar o Computador do Zero afdnuaf euinfu  ibea sufbueafau asfasf asdf asd fasdf asdf asdfasdf asdf  aFSf asf asf
            </div>
        </div>
        <div class="row mt-3">
            <div class="col-1 my-auto">
                <%= image_tag "person-circle.svg" %>
            </div>
            <div class="col-2" style="display: flex; flex-direction: column">
                <strong>Nome do Canal</strong>
                <small>1,11 mi de inscritos</small>
            </div>
            <div class="col-2 my-auto">
                Inscrever-se
            </div>
            <div class="col-1 my-auto"> 
            </div>
            <div class="col-2 my-auto">
                Likes/Deslikes
            </div>
            <div class="col-2 my-auto">
                Compartilhar
            </div>
            <div class="col-1 my-auto">
                Download
            </div>
            <div class="col-1 my-auto">
                More
            </div>
        </div>
    </div>
    <div class="col-4">
        <h1>Lista de videos</h1>
    </div>
</div>