/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "bootstrap";
 
body {
    margin-top: 56px; /* Compensa altura da navbar fixa */
}

.darkmode {
    background-color: black;
    color: white !important;
}

.darkmode h1, .darkmode .sidebar a{
    color: white !important;
}

.navbar a.btn.btn-outline-secondary {
    color: #6c757d !important;
}

.modo-escuro .sidebar, .modo-escuro .navbar{
    background-color: black;
    color: white !important;
}

#theme-switch{
    height: 38px;
    width: 38px;
    padding: 0;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

// #theme-switch svg {
//     fill: var(--primary-color)
// }

#theme-switch svg:first-child {
    display: block;
}
#theme-switch svg:last-child {
    display: none;
}
.darkmode #theme-switch svg:first-child {
    display: none;
}
.darkmode #theme-switch svg:last-child {
    display: block;
}



