.sidebar {
    width: 80px;
    position: fixed;
    top: 53px; /* Abaixo da navbar */
    left: 0;
    height: 100%;
    background-color: #fff;
    padding-top: 20px;
    padding-left: 3px;
    padding-right: 3px;
    transition: width 0.3s ease;
    z-index: 1000;
}

.sidebar a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 16px 26px;
    font-size: 10px;
    color: #333 !important;
    text-decoration: none;
}

.sidebar a:hover {
    background-color: #ddd;
    border-radius: 8px;
    color: #000;
}

.content {
    margin-left: 80px; /* Largura da sidebar */
    padding: 20px;
}

.main-search-bar {
    width: 500px !important;
    transition: all 0.25s;
}

@media (max-width: 740px) {
    .main-search-bar {
        width: 300px !important;
    }
}

@media (max-width: 525px) {
    .main-search-bar {
        width: 180px !important;
    }
}

.sidebar-responsiva {
    width: 230px !important; /* Largura expandida */
    transform: translateX(0);
}

.sidebar.recolhida {
    transform: translateX(-80px); /* Oculta a sidebar */
}

.sidebar.sidebar-responsiva {
    transform: translateX(0);
    width: 200px; 
}

.sidebar {
    display: none;
}

.sidebar.sidebar-responsiva {
    display: block !important;
}

@media (max-width: 768px) {
    .sidebar {
      width: 50px; /* Largura reduzida em telas pequenas */
    }
    
    .sidebar.expanded {
      width: 150px; /* Largura expandida em telas pequenas */
    }
    
    .toggle-btn {
      display: block; /* Exibir botão de alternância */
    }
  }